/* * {
  margin: 0;
  padding: 0;

} */
.jumbotron {
  margin: 5% auto;
  /* margin-left: 43%; */
  text-align: center;
}

td {
  height:150px;
  width:150px;
  text-align: center;
  border: 5px solid black;
  font-size: 100px;
}

table {
  margin: auto auto;
}

body {
  background-color: rgb(197, 197, 253);
}

button {
  background-color: rgb(23, 23, 207);
  color: whitesmoke;
  font-size: medium;
  border: whitesmoke;
  padding: 5pt 15pt;
}

#winner {
  background-color: rgb(23, 23, 207);
  color: red;
}

#confetti-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}